@import url("https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Signika Negative", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 20px;
}

.rounded-img {
  border-radius: 50%;
}

/*modal style start*/

.modal {
  position: absolute;
  /* inset: 40px; */
  /* top: 40px;
  right: 40px;
  left: 40px;
  bottom: 40px; */
  top: 40px;
  height: 600px;
  width: 60%;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
}

.overlay {
  position: fixed;
  inset: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

/*modal style end*/

/*proloader start*/

.pre-loader {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.pre-loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 5px;
}

.ball {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #f04f2f;
  animation: bop 0.6s infinite alternate;
}

.one {
  animation-delay: 0.5s;
}

.two {
  animation-delay: 1.5s;
}

.three {
  animation-delay: 2.5s;
}

/*preloader end*/

/*animation*/

@keyframes bop {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}

/*media queries*/

@media (max-width: 768px) {
  .modal {
    /* top: 40px;
    right: 5px;
    left: 5px;
    bottom: 40px; */
    top: 60px;
    height: 500px;
    width: 95%;
    padding: 8px;
  }
}
